.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
}

.benefits-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.benefit {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  align-items: center;
}

@media (min-width: 600px) {
  .benefits-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .benefits-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .benefits-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}