.frame {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  /* align-items: center; */
}

.grid {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  justify-items: center;
}

.instance {
  grid-column: span 4;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 27px 1fr;
  gap: 20px;
}

.icon {
  grid-column: 1;
  grid-row: 1;
}

.text {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.text h2 {
  font-size: 1.25rem;
}

.text p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .instance {
    grid-column: span 6;
  }

  .text h2 {
    font-size: 1rem;
  }

  .text p {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .instance {
    grid-column: span 12;
  }

  .text h2 {
    font-size: 0.875rem;
  }

  .text p {
    font-size: 0.75rem;
  }
}
