.container {
    padding: 2rem;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
  }
  
  .feature {
    display: grid;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }




  /* .feature {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    text-align: center;
  } */
  
  .feature img {
    width: 3rem;
    height: 3rem;
  }

  
  
  .feature h3 {
    font-size: 1.25rem;
  }
  
  .feature p {
    font-size: 1rem;
  }

  @media (max-width: 600px) {
    .title {
      font-size: 1.5rem;
    }
  
    .subtitle {
      font-size: 1.25rem;
    }
  
    .grid {
      grid-template-columns: 1fr;
    }
  
    .feature img {
      width: 2.5rem;
      height: 2.5rem;
    }
  
    .feature h3 {
      font-size: 1rem;
    }
  
    .feature p {
      font-size: 0.875rem;
    }
  }