/* This styles the entire div */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.text-element {
  margin: 2em 0;
}

#1 {
  max-width: 380px;
  font-size: calc(1em + 1vw);
  text-align: center;
  line-height: 1.2;
}

#2 {
  max-width: 960px;
  font-size: calc(0.8em + 0.5vw);
  text-align: justify;
  line-height: 1.5;
}
