.frame {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.instance {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

.instance .frame {
  display: flex;
  align-items: center;
}

.instance .frame svg {
  flex-shrink: 0;
}

.instance .frame p {
  flex-grow: 1;
  font-size: 1.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.instance p {
  font-size: 1.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
