.ComponentsBenefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.ComponentsBenefitHeader {
  display: flex;
  height: 27px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ComponentsBenefitHeader h4 {
  color: #000080;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ComponentsBenefit p {
  width: 350px;
  color: #000;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ComponentsBenefitHeaderHover h3 {
  text-decoration: underline;
}