.ComponentsBenefit {
  display: grid;
  gap: 20px;
}

.ComponentsBenefitHeader {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ComponentsBenefitHeader img {
  width: 30px;
  height: 30px;
}

.ComponentsBenefitHeader h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000080;
}

.ComponentsBenefit p {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Mobile and Tablet Styles */
@media screen and (max-width: 1024px) {
  .ComponentsBenefitHeader h4 {
    font-size: 1.1rem;
  }

  .ComponentsBenefit p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .ComponentsBenefitHeader h4 {
    font-size: 1rem;
  }

  .ComponentsBenefit p {
    font-size: 1rem;
  }
}