.ButtonDefault {
  display: flex;
  background: none;
  border: 1px solid #FFF;
  margin: 0;
  color: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none; /* remove default chrome and safari styles */
  -moz-appearance: none;    /* remove default firefox styles */
  appearance: none;         /* remove default styles for some other browsers */
  padding: 0.9375rem 1.25rem;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: #000080;
  cursor: 'pointer';
}

.ButtonDefault p {
  color: #FFF;
  text-align: center;
  /* Desktop / Small */
  font-family: Futura;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ButtonSecondary {
  display: flex;
  background: none;
  margin: 0;
  color: inherit;
  cursor: pointer;
  cursor: pointer;
  -webkit-appearance: none; /* remove default chrome and safari styles */
  -moz-appearance: none;    /* remove default firefox styles */
  appearance: none;         /* remove default styles for some other browsers */
  padding: 0.9375rem 1.25rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  border: 1px solid #000080;
}

.ButtonSecondary p {
  text-align: center;
  color: #000080;
  text-align: center;
  /* Desktop / Small */
  font-family: Futura;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}