.HeroSection {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
}

.HeroSection__HorizontalContainer {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 22px;
  flex-wrap: wrap;
  padding: 32px 64px;
  box-sizing: border-box;
  align-self: stretch;
}

.HeroSection__HeroBackgroundPolygon {
  grid-row: 1;
  grid-column: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; /* make it full width */
  height: 100%; /* make it full height */
  z-index: -1; /* to make sure it's behind other content */
  object-fit: cover;
}

.HeroSection__HorizontalContainer__VerticalContainer {
  display: flex;
  max-width: 1170px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.HeroSection__HorizontalContainer__VerticalContainer__VerticalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.HeroSection__HorizontalContainer__VerticalContainer__VerticalContainer h1 {
  max-width: 643px;
  color: #000;
  font-family: Futura;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.HeroSection__HorizontalContainer__VerticalContainer__VerticalContainer h2 {
  max-width: 643px;
  color: #919191;
  font-family: Futura;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HeroSection__HorizontalContainer__VerticalContainer__HorizontalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.HeroSection__HorizontalContainer__HeroImageContainer {
  display: flex;
  max-height: calc(100vw - 80px);
  max-width: 504.78px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.54825rem;
  box-shadow: 0px 20.17513px 43.85897px 0px rgba(0, 0, 0, 0.40);
}

.Button {
  display: flex;
  background: none;
  height: 54px;
  margin: 0;
  color: inherit;
  outline: none;
  -webkit-appearance: none; /* remove default chrome and safari styles */
  -moz-appearance: none;    /* remove default firefox styles */
  appearance: none;         /* remove default styles for some other browsers */
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: Futura;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.25rem;

}

.ButtonDefault {
  border: 1px solid #FFF;
  background: #000080;
  color: #FFF;
}

.ButtonSecondary {
  border: 1px solid #000080;
  color: #000080;
  background: #FFF;
}

/* Styles for mobile devices */
/* Mobile devices */
@media (max-width: 480px) {
  .HeroSection__HorizontalContainer {
    padding: 16px 32px;
  }
  .HeroSection__HorizontalContainer__VerticalContainer {
    gap: 20px;
  }
  .HeroSection__HorizontalContainer__VerticalContainer__VerticalContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .HeroSection__HorizontalContainer__HeroImageContainer {
    max-width: 95%;
    align-items: center;
    margin-top: 20px;
  }
  .HeroSection__HorizontalContainer__VerticalContainer__VerticalContainer h1 {
    font-size: 24px;
  }
  .HeroSection__HorizontalContainer__VerticalContainer__VerticalContainer h2 {
    font-size: 18px;
    text-align: center;
  }
  .HeroSection__HorizontalContainer__VerticalContainer__HorizontalContainer {
    flex-direction: column;
    width: 100%;
  }
  .HeroSection__HorizontalContainer__VerticalContainer__HorizontalContainer div {
    width: 100%;
    padding: 12px;
  }
}

/* Tablet devices */
@media (min-width: 481px) and (max-width: 768px) {
  /* .HeroSection__HorizontalContainer {
    padding: 32px;
  } */
  .HeroSection__HorizontalContainer__VerticalContainer__VerticalContainer {
    flex-direction: column;
    align-items: center;
  }
  .HeroSection__HorizontalContainer__HeroImageContainer {
    max-width: 95%;
    align-items: center;
    margin-top: 40px;
  }
  .HeroSection__HorizontalContainer__VerticalContainer__VerticalContainer h1 {
    font-size: 28px;
  }
  .HeroSection__HorizontalContainer__VerticalContainer__VerticalContainer h2 {
    font-size: 20px;
    text-align: center;
  }
  .HeroSection__HorizontalContainer__VerticalContainer__HorizontalContainer {
    flex-direction: column;
    width: 100%;
  }
  .HeroSection__HorizontalContainer__VerticalContainer__HorizontalContainer div {
    width: 100%;
    padding: 15px;
  }
}