.benefits {
  display: flex;
  /* width: 1446px; */
  padding: 80px 0px 160px 0px;
  flex-direction: column;
  align-items: center;
}

.benefits h1 {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Futura;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.benefits h2 {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Futura;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.benefitsBenefits {
  display: flex;
  height: 315px;
  padding: 80px 0px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 80px 40px;
  align-self: stretch;
  flex-wrap: wrap;
}

.ComponentsBenefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.ComponentsBenefitHeader {
  display: flex;
  height: 27px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ComponentsBenefitHeader h3 {
  color: #000080;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ComponentsBenefit p {
  width: 350px;
  color: #000;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ComponentsBenefitHeaderHover h3 {
  text-decoration: underline;
}