/* Responsive Base Styles */
body {
  font-family: Futura, sans-serif;
  font-size: 1rem;
  color: #000;
  line-height: 1.5;
}
/* */

.BenefitsSection {
  max-width: 1130px;
  margin: 80px auto;
  padding: 0px 20px;
}

.BenefitsSection h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 40px;
}

.BenefitsSection h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 80px;
}

.BenefitsSectionBenefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 40px;
}

.ComponentsBenefit {
  display: grid;
  gap: 20px;
}

.ComponentsBenefitHeader {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ComponentsBenefitHeader img {
  width: 30px;
  height: 30px;
}

.ComponentsBenefitHeader h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000080;
}

.ComponentsBenefit p {
  font-size: 1.25rem;
  font-weight: 500;
}

/* @media (max-width: 779px) {
  .BenefitsSection {
    margin: 20px auto;
  }

  .BenefitsSectionBenefits {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 780px) and (max-width: 1170px) {
  .BenefitsSectionBenefits {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* Mobile and Tablet Styles */
@media screen and (max-width: 1024px) {
  .BenefitsSection {
    margin: 60px auto;
  }

  .BenefitsSection h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .BenefitsSection h3 {
    font-size: 1.3rem;
    margin-bottom: 60px;
  }

  .BenefitsSectionBenefits {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 30px;
  }

  .ComponentsBenefitHeader h4 {
    font-size: 1.1rem;
  }

  .ComponentsBenefit p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .BenefitsSection {
    margin: 40px auto;
  }

  .BenefitsSection h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .BenefitsSection h3 {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  .BenefitsSectionBenefits {
    grid-template-columns: 1fr;
    gap: 40px 20px;
  }

  .ComponentsBenefitHeader h4 {
    font-size: 1rem;
  }

  .ComponentsBenefit p {
    font-size: 1rem;
  }
}